.home-box{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background: white;
}
.table-head{
    background: #F6F7F9;
    padding: 15px;
    .t-h-span{
        color: #476282;
        font-size: 20px;
        font-weight: bold;
        display: block;
        margin-bottom: 20px;
    }
}
.table-h-left{
    margin-left: 50%;
    position: absolute;
    margin-top: -30px;
}
.table-h-right{
    margin-left: 10%;
    .add-icon{
        position: absolute;
        fill: #1b3a57;
        cursor: pointer;
        padding: 4px;
        &:hover{
            fill: #6C6C6C;
        }
    }
}
.home-search{
    width: 250px;
    height: 20px;
    padding: 5px;
    border: none;
    border-radius: 20px;   
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}
.cercle-status{
    width: 16px;
    height: 16px;
    border-radius: 20px;
    display: inline-block;
    margin-right: 10px;
    background: green;
}
.c-s-done{
    background: #22ACB4;
}
.c-s-danger{
    background: #E60023;
}
.c-s-warning{
    background: #FFA700;
}
.table-edit{
    cursor: pointer;
}
.sort-by{
    margin-left: 30%;
    width: fit-content;
    background: white;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    height: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    cursor: pointer;
}