<div class="home-box">
    <div class="table-head">
        <span class="t-h-span">Liste des eleves</span>
        <div class="table-h-left">
            <span> Rechercher Eleves </span>
            <input  class="home-search" type="text" name="firstname">
        </div>
    </div>
    <div class="table-body">
            <table>
                    <tr>
                      <th>Nom</th>
                      <th>Today</th>
                      <th>Matieres</th>
                      <th>Heures</th>
                      <th>Mois precedent paye</th>
                      <th>Editer</th>
                    </tr>
                    <tr>
                      <td>Alfreds Futterkiste</td>
                      <td>Maria Anders</td>
                      <td>Germany</td>
                      <td>Anglais, francais</td>
                      <td><span class="cercle-status c-s-done"></span>oui</td>
                      <td><span class="table-edit">
                          Editer
                          <img src="https://www.flaticon.com/premium-icon/icons/svg/2020/2020398.svg" 
                          width="24" height="24" alt="edit icon" title="edit icon">
                      </span></td>
                    </tr>
                    <tr>
                      <td>Centro comercial Moctezuma</td>
                      <td>Francisco Chang</td>
                      <td>Mexico</td>
                      <td>Math</td>
                      <td><span class="cercle-status c-s-done"></span>oui</td>
                      <td><span class="table-edit">
                          Editer
                          <img src="https://www.flaticon.com/premium-icon/icons/svg/2020/2020398.svg" 
                          width="24" height="24" alt="edit icon" title="edit icon">
                      </span></td>
                    </tr>
                    <tr>
                      <td>Ernst Handel</td>
                      <td>Roland Mendel</td>
                      <td>Austria</td>
                      <td>Math, francais</td>
                      <td> <span class="cercle-status c-s-danger"></span>2 mois ne sont pas paye voir details</td>
                      <td><span class="table-edit">
                          Editer
                          <img src="https://www.flaticon.com/premium-icon/icons/svg/2020/2020398.svg" 
                          width="24" height="24" alt="edit icon" title="edit icon">
                      </span></td>
                    </tr>
                    <tr>
                      <td>Island Trading</td>
                      <td>Helen Bennett</td>
                      <td>UK</td>
                      <td>Math</td>
                      <td><span class="cercle-status c-s-warning"></span>pas encore voir details</td>
                      <td><span class="table-edit">
                          Editer
                          <img src="https://www.flaticon.com/premium-icon/icons/svg/2020/2020398.svg" 
                          width="24" height="24" alt="edit icon" title="edit icon">
                      </span></td>
                    </tr>
                    <tr>
                      <td>Laughing Bacchus Winecellars</td>
                      <td>Yoshi Tannamuri</td>
                      <td>Canada</td>
                      <td>Math</td>
                      <td>
                        <span class="cercle-status c-s-warning"></span>pas encore voir details</td>
                        <td><span class="table-edit">
                            Editer
                            <img src="https://www.flaticon.com/premium-icon/icons/svg/2020/2020398.svg" 
                            width="24" height="24" alt="edit icon" title="edit icon">
                        </span></td>
                    </tr>
                    <tr>
                      <td>Magazzini Alimentari Riuniti</td>
                      <td>Giovanni Rovelli</td>
                      <td>Italy</td>
                      <td>Anlais</td>
                      <td><span class="cercle-status c-s-done"></span>oui</td>
                      <td><span class="table-edit">
                          Editer
                          <img src="https://www.flaticon.com/premium-icon/icons/svg/2020/2020398.svg" 
                          width="24" height="24" alt="edit icon" title="edit icon">
                      </span></td>
                    </tr>
                  </table>
    </div>
       
</div>
